.preview-wrapper {
  padding: calc(var(--rhythm)) calc(var(--rhythm) * 0.5);
}

.preview-wrapper:not(:last-child) {
  border-bottom: 1px solid var(--separatorColor);
  transition: border-bottom-color 0.25s ease;
}

.preview-header {
  margin-top: 0;
  margin-bottom: calc(var(--rhythm) * 0.25);
}

.post-link {
  color: var(--primary);
  text-decoration: none;
}

p.description {
  margin: 0;
  line-height: 1.5;
}
