:root {
  --arrowHeight: 3vh;
  --arrowWidth: 1.5vw;
}

.arrow {
  position: relative;
  width: var(--arrowWidth);
  height: var(--arrowHeight);
  background-color: black;

  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  border: 1px solid #1ca086;
}

.content {
  background-color: white;
  border: 1px solid black;
  padding: 1em;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}

ol {
  padding-left: 1em;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
