:root {
  --arrowHeight: 3vh;
  --arrowWidth: 1.5vw;
}

.arrow {
  position: relative;
  width: 0;

  border-top: calc(var(--arrowHeight) / 2) solid transparent;
  border-bottom: calc(var(--arrowHeight) / 2) solid transparent;
  border-left: var(--arrowWidth) solid black;
}

.content {
  background-color: white;
  border: 1px solid black;
  padding: 1em;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}

ol {
  padding-left: 1em;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
