body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;

  --primary: #1ca086;
  --light: #5cd2b6;
  --dark: #007159;
  --contentWidth: 34.8rem;
  --rhythm: 1.45rem;
  --snippetBackgroundColor: #2d2d2d;

  --gray-50: hsl(0, 0%, 98%);
  --gray-100: hsl(0, 0%, 96%);
  --gray-200: hsl(0, 0%, 93%);
  --gray-300: hsl(0, 0%, 88%);
  --gray-400: hsl(0, 0%, 74%);
  --gray-500: hsl(0, 0%, 62%);
  --gray-600: hsl(0, 0%, 46%);
  --gray-700: hsl(0, 0%, 38%);
  --gray-800: hsl(0, 0%, 26%);
  --gray-900: hsl(0, 0%, 13%);
}

body.dark {
  --separatorColor: rgba(255, 255, 255, 0.2);
  --textColor: var(--gray-50);
  --backgroundColor: var(--gray-900);
  --headerBackgroundColor: rgba(255, 255, 255, 0.05);
  --blockquoteColor: rgba(255, 255, 255, 0.2);
  --icon: white;
  --themeIconColor: hsl(0deg, 0%, 100%);
}

body.light {
  --separatorColor: rgba(0, 0, 0, 0.08);
  --textColor: var(--gray-900);
  --backgroundColor: white;
  --headerBackgroundColor: #f6f6f6;
  --blockquoteColor: rgba(0, 0, 0, 0.8);
  --icon: #121212;
  --themeIconColor: hsl(222deg, 22%, 5%);
}

* {
  box-sizing: border-box;
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

h1 {
  margin: 0;
}

small {
  font-size: 0.8rem;
  line-height: 1.5;
}

hr {
  border: none;
  height: 1px;
}

p {
  margin: 0 0 var(--rhythm) 0;
  line-height: 1.5;
}

button {
  font: inherit;
}
