@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  padding: 1px;
  background-color: #22272e;
  @apply rounded;
}

pre > code {
  display: grid;
  overflow: auto;
  padding: 1rem !important;
  padding-right: 0 !important;
}

code[data-language="bash"] span[data-line]::before {
  content: "$";
  padding-right: 12px;
}

[data-highlighted-line] {
  @apply -ml-4 pl-2 border-l-8 border-l-zinc-400 bg-zinc-700;
}

[data-rehype-pretty-code-fragment] {
  @apply -mx-4 sm:mx-0;
}
