@import "tailwindcss";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/sage-dark.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/violet-dark.css";

@theme {
  --color-*: initial;

  --color-primary-100: var(--green-1);
  --color-primary-200: var(--green-2);
  --color-primary-300: var(--green-3);
  --color-primary-400: var(--green-4);
  --color-primary-500: var(--green-5);
  --color-primary-600: var(--green-6);
  --color-primary-700: var(--green-7);
  --color-primary-800: var(--green-8);
  --color-primary-900: var(--green-9);
  --color-primary-1000: var(--green-10);
  --color-primary-1100: var(--green-11);
  --color-primary-1200: var(--green-12);

  --color-info-100: var(--blue-1);
  --color-info-200: var(--blue-2);
  --color-info-300: var(--blue-3);
  --color-info-400: var(--blue-4);
  --color-info-500: var(--blue-5);
  --color-info-600: var(--blue-6);
  --color-info-700: var(--blue-7);
  --color-info-800: var(--blue-8);
  --color-info-900: var(--blue-9);
  --color-info-1000: var(--blue-10);
  --color-info-1100: var(--blue-11);
  --color-info-1200: var(--blue-12);

  --color-gray-100: var(--sage-1);
  --color-gray-200: var(--sage-2);
  --color-gray-300: var(--sage-3);
  --color-gray-400: var(--sage-4);
  --color-gray-500: var(--sage-5);
  --color-gray-600: var(--sage-6);
  --color-gray-700: var(--sage-7);
  --color-gray-800: var(--sage-8);
  --color-gray-900: var(--sage-9);
  --color-gray-1000: var(--sage-10);
  --color-gray-1100: var(--sage-11);
  --color-gray-1200: var(--sage-12);

  --color-orange-1100: var(--orange-11);
  --color-violet-300: var(--violet-3);
}

* {
  outline-color: var(--color-primary-800);
}

code {
  padding: 1px;
  background-color: var(--color-gray-500);
  border-radius: var(--radius-sm);
}

pre > code {
  display: grid;
  overflow: auto;
  padding: 1rem !important;
  padding-right: 0 !important;
}

:is(code[data-language="bash"], code[data-language="sh"])
  span[data-line]::before {
  content: "$";
  padding-right: 12px;
}

[data-highlighted-line] {
  margin-left: calc(-4 * var(--spacing));
  border-left-width: calc(2 * var(--spacing));
  border-left-color: var(--color-gray-800);
  background-color: var(--color-gray-500);
  padding-left: calc(2 * var(--spacing));
}

div[data-rehype-pretty-code-fragment] {
  margin-left: calc(-4 * var(--spacing));
  margin-right: calc(-4 * var(--spacing));
}

@media (min-width: var(--breakpoint-sm)) {
  div[data-rehype-pretty-code-fragment] {
    margin-left: 0;
    margin-right: 0;
  }
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);

  [data-highlighted-line],
  [data-highlighted-line] span {
    background-color: var(--color-gray-500);
  }
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}
